<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Autos </title>
    <link rel="stylesheet" href="C:\Users\1alex\OneDrive\Desktop\PIAWeb\PIADJANGO\evidencia3\prueba\static\css\estilosServ.css">
</head>
<body>
    <div class="contacto">
        <h1>Contacto</h1>
        <p>Para más información, contáctenos:</p>
        <p>Teléfono: (+52)818-883-6414</p>
        <p>Email: info@supremecarwash.com</p>
        <p>Dirección: Av. uno #234, Monterrey, N.L., Mx, CP: 5678</p>
    </div>
</body>
</html>