{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="C:\Users\1alex\OneDrive\Desktop\PIAWeb\PIADJANGO\evidencia3\prueba\static\css\estilosServ.css">
</head>
<body>
    <header>

    </header>

    <nav>

    </nav>

    <article>

    </article>

    <section class="product">
        <h2 class="product-category">best selling</h2>
        <div class="product-container">

            <div class="product-card">
                <div class="product-image">
                    <img src="C:\Users\1alex\OneDrive\Desktop\PIAWeb\PIADJANGO\evidencia3\prueba\static\img\ok.jpg" class="product-thumbn" alt="">
                    <button class="card-btn">Mas Informacion</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Nombre del auto</h2>
                    <p class="product-desc">test desc del auto</p>
                    <span class="price">$3.fiddy</span>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="C:\Users\1alex\OneDrive\Desktop\PIAWeb\PIADJANGO\evidencia3\prueba\static\img\gato.jpg" class="product-thumbn" alt="">
                    <button class="card-btn">Mas Informacion</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Nombre del auto</h2>
                    <p class="product-desc">test desc del auto</p>
                    <span class="price">$3.fiddy</span>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="C:\Users\1alex\OneDrive\Desktop\PIAWeb\PIADJANGO\evidencia3\prueba\static\img\ok.jpg" class="product-thumbn" alt="">
                    <button class="card-btn">Mas Informacion</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Nombre del auto</h2>
                    <p class="product-desc">test desc del auto</p>
                    <span class="price">$3.fiddy</span>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="C:\Users\1alex\OneDrive\Desktop\PIAWeb\PIADJANGO\evidencia3\prueba\static\img\ok.jpg" class="product-thumbn" alt="">
                    <button class="card-btn">Mas Informacion</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Nombre del auto</h2>
                    <p class="product-desc">test desc del auto</p>
                    <span class="price">$3.fiddy</span>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="C:\Users\1alex\OneDrive\Desktop\PIAWeb\PIADJANGO\evidencia3\prueba\static\img\ok.jpg" class="product-thumbn" alt="">
                    <button class="card-btn">Mas Informacion</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Nombre del auto</h2>
                    <p class="product-desc">test desc del auto</p>
                    <span class="price">$3.fiddy</span>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="C:\Users\1alex\OneDrive\Desktop\PIAWeb\PIADJANGO\evidencia3\prueba\static\img\gato.jpg" class="product-thumbn" alt="">
                    <button class="card-btn">Mas Informacion</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Nombre del auto</h2>
                    <p class="product-desc">test desc del auto</p>
                    <span class="price">$3.fiddy</span>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="C:\Users\1alex\OneDrive\Desktop\PIAWeb\PIADJANGO\evidencia3\prueba\static\img\gato.jpg" class="product-thumbn" alt="">
                    <button class="card-btn">Mas Informacion</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Nombre del auto</h2>
                    <p class="product-desc">test desc del auto</p>
                    <span class="price">$3.fiddy</span>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="C:\Users\1alex\OneDrive\Desktop\PIAWeb\PIADJANGO\evidencia3\prueba\static\img\gato.jpg" class="product-thumbn" alt="">
                    <button class="card-btn">Mas Informacion</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Nombre del auto</h2>
                    <p class="product-desc">test desc del auto</p>
                    <span class="price">$3.fiddy</span>
                </div>
            </div>

        </div>
    </section>

    <aside>

    </aside>

    <footer>

    </footer>
    
    <h1>Servicios</h1>
    {% for s in sucursales %}
        <h2>{{s.nombre}}</h2>
    {% endfor %}
</body>
</html>