{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="{% static "/css/estilosServ.css" %}">
</head>
<body>
    <header>

    </header>

    <nav>

    </nav>

    <article>

    </article>

    <section>
        <div class="wrapper">
            <div class="car">car-1</div>
            <div class="car">car-2</div>
            <div class="car">car-3</div>
        </div>
    </section>

    <aside>

    </aside>

    <footer>

    </footer>
    <h1>Servicios</h1>
    {% for s in sucursales %}
        <h2>{{s.nombre}}</h2>
    {% endfor %}
    <img src="{% static "/img/fondo3.jpg" %}" alt="">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum ab saepe veniam nihil voluptatum itaque quas iure exercitationem, sed rerum voluptate. Hic facere est eligendi, cum at veritatis molestiae provident!
    </p>
</body>