{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubicacion</title>
    <link rel="stylesheet" href="{% static "/css/estilosUbi.css" %}">
</head>
<body>
    <header class="header1" >
        <img src="{% static "/img/Autolavado.jpg" %}" alt="">
        <div class="header-img"></div>
        <nav class="nav-container">
            <ul>
                <li><a href="..">Index</a></li>
                <li><a href="../quienessomos/">Quienes somos?</a></li>
                <li><a href="../servicios">Servicios o Productos</a></li>
                <li><a href="../contacto/">Contacto</a></li>
                <li><a href="../ubicacion/">Ubicacion</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main>
            <h1>UBICACION</h1>
            <p>Nosotros nos ubicamos en</p>
            <p>Dirección: Av. Ruiz Cortinez #101, Monterrey, N.L., Mx, CP: 67195</p>

        </main>
    </div>

    <footer>
        <div class="footer-container">
            <div class="redes-sociales">
                <h3>Redes Sociales</h3>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>
            <div class="terminos">
                <ul>
                    <p>Todos los derechos reservados &copy; 2024</p>
                    <li><a href="#">Política de Privacidad</a></li>
                    <li><a href="#">Términos y Condiciones</a></li>
                </ul>
            </div>
        </footer>
</body>